<div
  class="min-h-screen flex items-center justify-cente py-12 px-4 sm:px-6 lg:px-8 justify-center"
>
  <div class="max-w-md w-full space-y-8">
    <div [@logoAnimation]="logoState" class="text-center">
      <h2 class="mt-5 text-3xl font-extrabold text-white">
        Cambia tu Contraseña
      </h2>
      <p class="mt-2 text-sm text-white/70">Re ingresa tus datos por favor</p>
    </div>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
      [@formAnimation]="formState"
      class="mt-9 space-y-5"
    >
      <div class="shadow-sm -space-y-px">
        <div class="mb-2">
          <label for="username-address" class="sr-only">Usuario</label>
          <input
            id="username-address"
            name="username"
            type="text"
            formControlName="username"
            required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white/90 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            placeholder="Usuario"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Contraseña</label>
          <input
            id="password"
            name="password"
            type="password"
            formControlName="password"
            required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white/90 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            placeholder="Contraseña"
          />
        </div>
      </div>

      <div class="flex flex-row-reverse items-center justify-between">
        <div class="text-sm">
          <a
            href="/login"
            class="font-medium text-green-700 hover:text-green-500 transition-colors"
          >
            Regresar al Login
          </a>
        </div>
      </div>

      <ion-button
        color="success"
        type="submit"
        [disabled]="resetPasswordForm.invalid"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 disabled:opacity-50 disabled:cursor-not-allowed transition-colors"
      >
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <svg
            class="h-5 w-5 text-gray-700 group-hover:text-gray-100 transition-colors"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        Cambiar Contraseña
      </ion-button>
    </form>
  </div>
</div>
