<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="flex flex-col justify-center items-center text-center mt-7 mb-5 text-[53px] font-bold">
    <h2>Bienvenido, {{ userService.username }}</h2>
  </section>
  <section class="flex flex-col justify-center items-center gap">
    <ion-button color="success" size="large" expand="block">
      Lista de alumnos
    </ion-button>
    <ion-button color="success" size="large" expand="block" (click)="generateQRCode()">Generar QR</ion-button>
    <qrcode [qrdata]="qrCodeData" [width]="255" [errorCorrectionLevel]="'M'">
    </qrcode>
  </section>

</ion-content>